# dependencies
node_modules/
.pnpm-store/

# build
dist/
build/
*.tsbuildinfo

# vite
.vite/

# test / coverage
coverage/

# editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# env
.env
.env.local
